[submodule "Projects/Petrobras/PlasticityQT"]
	path = Projects/Petrobras/PlasticityQT
	url = gitserver:/home/git/Petrobras/PlasticityQT
	branch = master
[submodule "Projects/Petrobras/WellboreQT"]
	path = Projects/Petrobras/WellboreQT
	url = gitserver:/home/git/Petrobras/WellboreQT
	branch = master
